* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

header {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(23, 26, 31, 0.09), 0 0 2px rgba(23, 26, 31, 0.12);
    height: 9vh;
}

.logo {
    font-weight: 700;
    color: #060606;
    font-size: 24px;
}

main {
    padding: 20px;
}

section {
    text-align: center;
    padding: 40px 20px;
    color: #171a1f;
    margin-bottom: 20px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

section p, section ul {
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.features-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.features-list li {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: #424856;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(23, 26, 31, 0.09), 0 0 2px rgba(23, 26, 31, 0.12);
    position: relative;
    width: 100%;
    bottom: 0;
}