<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Aplikacji</title>
    <link rel="stylesheet" href="../static/css/aboutApp.css" />
    <link rel="stylesheet" th:href="@{/css/aboutApp.css}" />
</head>
<body>
<header>
    <div th:insert="navigation :: navigation"></div>
</header>
<section>
    <h2>Co to jest Aplikacja do Egzaminów?</h2>
    <p>Aplikacja do Egzaminów to nowoczesne narzędzie edukacyjne przeznaczone do przeprowadzania i rozwiązywania egzaminów online.</p>
</section>
<section>
    <h2>Funkcje</h2>
    <ul>
        <li>Tworzenie niestandardowych egzaminów</li>
        <li>Automatyczne ocenianie odpowiedzi</li>
        <li>Analityka wyników</li>
        <li>Wsparcie dla wielu typów pytań</li>
    </ul>
</section>
<footer>
    <p>Kontakt: kontakt@aplikacjadoegzaminow.pl</p>
</footer>
</body>
</html>