<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Add Question</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet" />

	<link rel="stylesheet" th:href="@{/css/createQuestion.css}" />
	<link rel="stylesheet" href="../static/css/createQuestion.css" />
	<script src="../static/javascript/script.js"></script>
	<script th:href="@{/javascript/script.js}"></script>
	<script>
		function showForm(type) {
			document.getElementById('instruction').innerText = 'Please enter the required information'
			document.querySelector('.option').style.display = 'none'
			document.querySelector('.option2').style.display = 'none'

			if (type === 'open') {
				document.querySelector('.open-form').style.display = 'flex'
				document.querySelector('.closed-form').style.display = 'none'
			} else if (type === 'closed') {
				document.querySelector('.closed-form').style.display = 'flex'
				document.querySelector('.open-form').style.display = 'none'
			} else if (type === 'addAnswer') {
				let answerLabel = document.createElement('label')
				let answerInput = document.createElement('input')
				let answerCheckbox = document.createElement('input');
				let correctness = document.createElement('input')
				let answerclosed = document.createElement('div');
				answerclosed.classList.add('answerclosed')
				answerInput.classList.add('content');
				answerInput.name='closedanswer'
				answerCheckbox.type = 'checkbox';
				answerCheckbox.name='correctness-visible';
				answerCheckbox.classList.add('correctness-visible')
				answerCheckbox.classList.add('checkbox');
				correctness.type=('hidden');
				correctness.name=('correctness');
				correctness.classList.add('correctness');
				let answerContainer = document.getElementById('answer-box')
				answerclosed.appendChild(answerLabel)
				answerclosed.appendChild(answerInput)
				answerclosed.appendChild(answerCheckbox);
				answerclosed.appendChild(correctness);

				answerContainer.appendChild(answerclosed);
			}
		}
		function submitForm(){
			answersClosed = document.querySelectorAll('.answerclosed');
			answersClosed.forEach((element) => {
				let correctness = element.querySelector('.correctness');
				let correctnessvisible = element.querySelector('.correctness-visible')
				if (correctnessvisible.checked) {
					correctness.value = 'on';
				} else {
					correctness.value = 'off';
				}
			});
		}
	</script>
</head>
<body>
<div class="question-box">
	<p id="instruction">Choose which question you want to add!</p>
	<button onclick="showForm('open')" class="option">Open Question</button>
	<button onclick="showForm('closed')" class="option2">Closed Question</button>

	<form th:action="@{/addQuestion/__${examId}__}" th:method="post" th:object="${openQuestion}" class="open-form">
		<div class="input-box">
			<label for="content">Question Content</label>
			<textarea type="text" id="content" name="content" th:field="*{content}" class="form-control"></textarea>
		</div>

		<div class="input-box">
			<label for="score">Score</label>
			<input type="number" id="score" name="score" th:field="*{score}" class="form-control" />
		</div>
		<button type="submit">Create</button>
	</form>

	<form th:action="@{/addQuestion/__${examId}__}" th:method="post" class="closed-form" onsubmit="submitForm()">
		<input type="hidden" name="type" value="closed" />
		<div class="input-box">
			<label for="content">Question Content</label>
			<textarea type="text" name="content" class="form-control"></textarea>
		</div>

		<div class="input-box">
			<label for="score">Score</label>
			<input type="number" name="score" />
		</div>

		<div id="answer-box" class="input-box">
			<label>Answer content:</label>
			<div class="answerclosed">
				<input type="text" name="closedanswer" class="content"/>
				<input type="checkbox" name="correctness-visible" class="correctness-visible">
				<input type='hidden' name="correctness" class="correctness">
			</div>
		</div>
		<button type="button" onclick="showForm('addAnswer')" class="more">Add more answer</button>
		<button type="submit">Create</button>
	</form>
</div>
</body>
</html>
