<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Edit Question</title>
  <link rel="stylesheet" th:href="@{/css/editOpenQuestion.css}" />
  <link rel="stylesheet" href="../static/css/editOpenQuestion.css" />
</head>
<body>
<section>
  <div class="edit-question-box">

    <input type="hidden" id="csrfToken" value="${_csrf.token}"/>
    <input type="hidden" id="csrfHeader" value="${_csrf.headerName}"/>

    <form th:action="@{/updateOpenQuestion/__${Openquestion.questionid}__}" th:method="post" role="form">
      <h2 class="exam">Edit <span class="system">Question Form</span></h2>
      <div class="input-box">
        <textarea id="content" name="content" th:text="${Openquestion.content}"> </textarea>
        <label for="content">Question Text</label>
      </div>

      <div class="category-input-box">
        <label for="score">Score</label>
        <select id="score" name="score">
          <option th:value="${Openquestion.score}" th:text="${Openquestion.score}">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="category-input-box">
        <label for="category">Category</label>
        <select id="category" name="category">
          <option th:value="${Openquestion.subject_subjectid}" th:text="${Openquestion.subject_subjectid}">0</option>
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>

      <button type="submit">Save Changes</button>
    </form>
  </div>
</section>
</body>
</html>