<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/editExam.css}" />
  <link rel="stylesheet" href="../static/css/editExam.css" />

</head>
<body>
<div class="edit-exam-box">
  <h2>Edit an Exam</h2>
  <div class="contener">
    <div class="buttonsImg">
      <img th:src="@{/images/editExam.jpg}" alt="" srcset="" />
      <div class="buttons">
        <a th:href="@{/exams}">
          <button class="cancel-edit-exam">Cancel</button>
        </a>
<!--        <button class="createExam" type="submit">Add Question</button>-->
      </div>
    </div>
    <input type="hidden" name="examId" th:value="${examId}" />

    <form th:action="@{/editExamDetails/{examId}(examId=${examId})}" th:object="${exam}" method="post" role="form">

      <div class="input-box">
        <label>Subject</label>
        <select name="subject" class="form-control">
          <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}" th:selected="${subject.id == exam.examsSubject?.id}"></option>
        </select>
      </div>
      <div class="input-box">
        <label>Description</label
        ><input type="text" name="description" class="form-control" th:value="${exam.description}" />
      </div>

      <div class="date-box">
        <div class="start-date">
          <label>Start Date</label>
          <input type="date" class="data" name="startdate" th:value="${#temporals.format(exam.startDate, 'yyyy-MM-dd')}"/>
          <input type="time" class="czas" name="starttime" th:value="${#temporals.format(exam.startTime, 'HH:mm')}" />
        </div>

        <div class="end-date">
          <label>End Date</label>
          <input type="date" class="data" name="enddate" th:value="${#temporals.format(exam.endDate, 'yyyy-MM-dd')}"/>
          <input type="time" class="czas" name="endtime" th:value="${#temporals.format(exam.endTime, 'HH:mm')}" />
        </div>
      </div>
      <div class="input-box">
        <label>Pula pytan</label>
        <select name="exampoolstrategy" class="form-control">
          <option th:value="0">Nie</option>
          <option th:value="1">Tak</option>
        </select>
        <input type="number" name="count" class="form-control"/>
      </div>

      <div class="questions">
<!--        <label>Questions List to Edit</label>-->

<!--        <div class="questionList"><p class="info">-&#45;&#45;&#45;&#45;&#45;&#45;</p></div>-->

            <button class="addQuestion">Edit Exam</button>
      </div>

    </form>
  </div>
</div>


</body>
</html>