
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Edit Question</title>
  <link rel="stylesheet" th:href="@{/css/editOpenQuestion.css}" />
  <link rel="stylesheet" href="../static/css/editOpenQuestion.css" />
</head>
<body>
<section>
  <div class="edit-question-box">
    <!--/*@thymesVar id="Openquestion" type="com.example.exams.Model.Data.Openquestion"*/-->
    <form th:action="@{/updateOpenQuestion}" th:method="post" th:object="${Openquestion}" role="form">
      <h2 class="exam">Edit <span class="system">Question Form</span></h2>
      <div class="input-box">
        <textarea id="content" name="content" th:value="*{content}" rows="4"></textarea>
        <label for="content">Question Text</label>
      </div>
      <input type="hidden" id="questionid" name="questionid" th:value="*{questionid}">

      <div class="category-input-box">
        <label for="score">Score</label>
        <select id="score" name="score" th:value="*{score}" >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="category-input-box">
        <label for="category">Category</label>
        <select id="category" name="category" th:value="*{subject_subjectid}">
          <option value="null">null</option>
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>

      <button type="submit">Save Changes</button>
    </form>
  </div>
</section>
</body>
</html>