<div th:fragment="navigation" class="container-nav" xmlns:sec="http://www.w3.org/1999/xhtml" style="background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    width: 100vw;">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family:  "Manrope", Helvetica,serif;
        }

        .logo-container {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 9vh;
            top: 0;
            left: 0;
        }

        #nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            background-color: #f8f9fa;
            box-shadow: 0px 2px 5px 0px rgba(23, 26, 31, 0.09), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
            position: absolute;
            margin:auto;
            height: 9vh;
            top: 0;
        }

        #nav ul li {
            list-style-type: none;
            display: inline-block;
            font-size: 20px;
            line-height: 22px;
        }

        #nav ul li a {
            text-decoration: none;
            color: #424856;
            display: block;
            padding: 0.5vh 1vw;
        }

        .icon-container{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 9vh;
            font-size: 22px;
            top: 0;
            right: 0;
            color: black;
        }

        .icon-container i:hover{
            cursor: pointer;
            color: #6D31ED;
        }

        .fa-regular.fa-bell {
            margin-right: 20px;
        }

        .menu:hover {
            cursor: pointer;
        }

        #nav ul li a:hover{
            color: #6D31ED;
        }

        .logout{
            border: 1px solid #6D31ED;
            border-radius: 4px;
            background: #6D31ED;
            display: inline-flex;
            padding: 5px 18px 5px 14px;
            align-items: center;
            gap: 8px;
            color: #FFF;
            font-size: 16px;
            line-height: 26px;
            margin-left: 1vw;
        }

        .logo a {
            font-weight: 700;
            color: #060606;
            font-size: 22px;
            text-decoration: none;
            transition: 0.2s;
        }

        .logo a:hover {
            color: #6D31ED;
        }

        .dropdown-content {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: 9vh;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            transition: 0.3s;
        }

        .dropdown-content button, a {
            margin: 5px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    </style>

    <div id="nav">
        <ul>
            <li class="menu"><a th:href="@{/exams}">Exams</a></li>
            <li class="menu"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/groups}">Groups</a></li>
            <li class="menu"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/logs}">Show Logs</a></li>
            <li class="menu"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/showProblems}">Show Problems</a></li>
            <li class="menu"><a sec:authorize="hasRole('ROLE_STUDENT')" th:href="@{/results}">Results</a></li>
            <li class="menu"><a th:href="@{/reportProblem}">Contact us</a></li>
            <li class="menu"><a th:href="@{/aboutApp}">About App</a></li>
            <div class="icon-container">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-regular fa-user"></i>
                <div id="user-dropdown" class="dropdown-content">
                    <a href="/myAccount">My Account</a>
                    <a href="/settings">Settings</a>
                    <div class="logout-button">
                        <form th:action="@{/logout}" th:object="${logout}" method="post" role="form">
                            <button class="logout" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="logo-container">
        <div class="logo"><a href="/logged">Examify365</a></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const userIcon = document.querySelector('.fa-user');
            const dropdownMenu = document.getElementById('user-dropdown');

            userIcon.addEventListener('click', function() {
                dropdownMenu.style.display = dropdownMenu.style.display === 'flex' ? 'none' : 'flex';
            });

            window.onclick = function(event) {
                if (!event.target.matches('.fa-user')) {
                    let dropdowns = document.getElementsByClassName("dropdown-content");
                    let i;
                    for (i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        if (openDropdown.style.display === 'flex') {
                            openDropdown.style.display = 'none';
                        }
                    }
                }
            }
        });
    </script>

</div>

