<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="showDoneExamUsers.css" />
    <link rel="stylesheet" th:href="@{/css/showDoneExamUsers.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container-nav">
    <div id="nav">
        <ul>
            <li class="menu"><a>Questions</a></li>
            <li class="menu"><a>Exams</a></li>
            <li class="menu"><a>Results</a></li>
            <li class="menu"><a>Contact us</a></li>
            <li class="menu"><a>About App</a></li>
            <div class="icon-container">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </ul>
    </div>
    <div class="logo-container">
        <div class="logo">Examify365</div>
    </div>
</div>


<div class="content">
    <div class="exam-info">
        <p>Description: <span th:text="${exam.description}"></span></p>
        <p>Exam starts at: <span th:text="${#temporals.format(exam.startTime, 'HH:mm')}"></span></p>
        <p>Exam ends at: <span th:text="${#temporals.format(exam.endTime, 'HH:mm')}"></span></p>
    </div>
        <div class="participants">
            <h2>List of Participants</h2>
            <ul th:each="student : ${Students}">
                <li>
                    <p>Student ID: <span th:text="${student.getStudentId}"></span></p>
                    <p>First Name: <span th:text="${student.firstname}"></span></p>
                    <p>Last Name: <span th:text="${student.lastname}"></span></p>
                    <p>Points:
                        <span th:each="logstudentexam : ${list}"
                              th:if="${logstudentexam.studentStudent.student_id == student.student_id}"
                              th:text="${logstudentexam.getScoreresult()  + '/' + points}"></span>
                    </p>
                    <p>Date: <span th:text="${mapDate.get(student.getStudent_id())}" ></span></p>
                    <p>Time: <span th:text="${#temporals.format(mapTime.get(student.getStudent_id()), 'HH:mm:ss')}" ></span></p>

                    <form method="post" th:action="@{/rate}">
                        <input type="hidden" th:name="studentId" th:value="${student.getStudentId}" />
                        <input type="hidden" th:name="examId" th:value="${exam.id}" />
                        <button type="submit">Rate</button>
                    </form>
                </li>
            </ul>
        </div>
</div>





</body>
</html>