<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show problems</title>
    <link rel="stylesheet" th:href="@{/css/showProblems.css}"/>
</head>
<body>
<div th:insert="navigation :: navigation"></div>
<div class="header">
    <h1>Problems</h1>
    <br>
    <h2>Filtrowanie po:</h2>
</div>
<div class="filter-form-container">
    <form class="form" action="/showProblems" method="get">
        <p class="title">Kategorii</p>
        <select class="category" name="category">
            <option value="">All</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category}" th:text="${category}"></option>
            </th:block>
        </select>
        <input type="submit" value="Filtruj" class="filter-button">
    </form>
    <form class="form" action="/showProblems" method="get">
        <p class="title">Statusie</p>
        <select class="status" name="status">
            <option value="">All</option>
            <th:block th:each="status : ${statuses}">
                <option th:value="${status}" th:text="${status}"></option>
            </th:block>
        </select>
        <input type="submit" value="Filtruj" class="filter-button">
    </form>
</div>
<div class="container">
    <div th:each="entry : ${problemsByCategory}" class="box category">
        <h2 th:text="${entry.key}"></h2>
        <div class="problems">
            <div th:each="problem : ${entry.value}" class="problem">
                <a th:href="@{'/showProblems/' + ${problem.getId()}}">
                    <img th:src="@{'data:image/bmp;base64,' + ${problem.photo != null ? problem.photo : ''}}" alt="Problem Photo"/>
                    <p class="title">Description</p>
                    <p th:text="${problem.description}"></p>
                    <p class="title">Reporting Person</p>
                    <p th:text="${problem.username}"></p>
                </a>
            </div>
        </div>
    </div>
</div>
<button id="back-to-top" style="display: none; position: fixed; bottom: 20px; right: 20px;">↑ Powrót na górę</button>
</body>

<script>
    window.onscroll = function() {
        if (window.scrollY > 100) {
            document.getElementById('back-to-top').style.display = 'block';
        } else {
            document.getElementById('back-to-top').style.display = 'none';
        }
    };

    document.getElementById('back-to-top').onclick = function() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    };
</script>
</html>
